[2021-02-03 20:45] cingolo opened #2 "Android MotoG9 discovery issue"
Environment:
Sagemcom F@st 3865bProximus (b-box3)
Release: 8c.514A
GUI Version
7.4.2.0

The  Sagemcom  Client seems to have issues while discovering my Androids devices.
After further investigation the issue seems triggered by the 'hostname' and device type values seen into the router. By default in the router you don't have a friendly name so not sure if your application is expecting a value beca

[2021-02-03 21:54] cingolo opened #3 "state doesn't change from home to not_home"
Environment:
Sagemcom F@st 3865bProximus (b-box3)
Release: 8c.514A
GUI Version
7.4.2.0

The state of my tracked device doesn;t change from 'home' to 'not_home'. if i turn off the wifi it keeps the home state then if i reload the integration the Mobile device entity it shows up as 'This entity is not currently available.'

I need to spend some time to investigate why i cannot get the logs and i wil

[2021-02-03 22:32] iMicknl commented on #3
Thanks for reporting @cingolo. This is indeed a known issue at the moment. I haven't had time to work on the Home Assistant integration lately, but the Python client has been fully refactored already.

If you know Python, feel free to join this project. I could use all the help at the moment, since my time is limited.

[2021-02-03 22:35] iMicknl commented on #2
Currently there not much is logged from the integration, thus you won't see a lot indeed.

Currently we use the following definition for the name, so that shouldn't be the issue. Are you familiar with Python and are you able to try if it works with the Python client directly? (https://github.com/iMicknl/python-sagemcom-api)

[code]

[2021-02-04 09:37] cingolo commented on #2
Ok i will give it a try by using the client.

[2021-02-05 19:23] mathijs5 opened #4 "Unable to connect to KPN Sagemcom F5359"
Hi!

I installed the component, however it does not seem to work with the KPN model Sagemcom F5359. I tried the following combinations;
- admin + password in MD5 and sha512
- guest + password in MD5 and sha512
- guest + no password in MD5 and sha512
- no credentials in MD5 and sha512
- All of the above using ip adress and the url "mijnmodem.kpn"

`Config entry 'UPnP/IGD' for upnp integration not r

[2021-02-06 16:50] iMicknl commented on #4
`Config entry 'UPnP/IGD' for upnp integration not ready yet. Retrying in 80 seconds`

This one should not be related to this integration. The other error could be related, most of the Sagemcom devices just have a connection time-out when the hashing method is not the right one.

Could you try to log in via the router web interface, and run the following command via your developer console;

[code]

[2021-03-12 02:13] #2 closed

[2021-03-14 02:11] #4 closed

[2021-04-09 08:15] #3 closed

[2021-04-09 10:21] iMicknl opened #6 "Investigate autodiscover via SSDP/DHCP"
Working towards an official core integration, it would be great if we could discover Sagemcom F@st routers in a network.

In the past I came up with the following SSDP definition (not included in Config Flow), but I assume it could work with the new DHCP mode as well.

[code]

[2021-04-09 10:34] iMicknl opened #7 "Add sensor entities"
As requested on the [Home Assistant Community](https://community.home-assistant.io/t/sagemcom-router-support/179880):

Sensor
- [ ] Uptime Sensor (`Device/DeviceInfo/UpTime`)
- [ ] Data usage

Binary Sensor:
- [ ] UP/DOWN - LAN / WAN status (`Device/IP/Interfaces/Interface[Alias='IP_DATA']/Status`)

It could happen that those sensors are not available for every device, thus at start-up it should f

[2021-04-09 12:47] iMicknl opened #11 "Remove encryption method in favor of automatic discovery"
**Is your feature request related to a problem? Please describe.**
Choosing the encryption method is unclear for users and requires looking up their device. Eventually when the underlying API supports this, we should implement it in this integration.

Tracking: https://github.com/iMicknl/python-sagemcom-api/issues/35

**Describe the solution you'd like**
'Automatic' option as default, allowing use

[2021-04-09 12:57] iMicknl commented on #2
@cingolo could you have a look if it works with the latest version? :)

[2021-04-09 13:28] cingolo commented on #2
Oki, I will run few tests later today

Inviato da Yahoo Mail su Android

  Il ven, 9 apr, 2021 alle 14:57, Mick ***@***.***> ha scritto:

@cingolo could you have a look if it works with the latest version? :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-09 21:50] iMicknl opened #13 "Error fetching sagemcom_hosts data: Error communicating with API: list index out of range"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |  latest dev     |
| Integration version               |  0.2.1     |
| Sagemcom F@st model               |  Sagemcom FAST3890     |
| Sagemcom F@st firmware (optional) |  FAST3890V3_DELTA-SIP_sw05.76.9.7k-3     |

## Describe the bug

It seems that the Data

[2021-04-10 11:57] iMicknl commented on #6
Looking at the Mac Addresses for the DHCP discovery, there are quite some: https://www.adminsub.net/mac-address-finder/sagemcom.

Mine starts with D8:A7:56, would be good if we can pinpoint which mac address reflect the F@st series.

[2021-04-11 11:03] arunpoudel commented on #13
Looks like there is no list operation in the function where the error is being logged.

What version of sagemcom_api are you using?

[2021-04-11 14:50] iMicknl commented on #13
`sagemcom_api===1.0.4`, but this only did happen once during development. Just logged it here to see if it happens more often.

[2021-04-11 14:55] iMicknl opened #14 "[Device Tracker] After reboot, not connected devices have status 'unavailable'"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |  latest dev     |
| Integration version               |  0.2.1     |
| Sagemcom F@st model               |  Sagemcom FAST3890     |
| Sagemcom F@st firmware (optional) |  FAST3890V3_DELTA-SIP_sw05.76.9.7k-3     |
## Describe the bug

After a reboot of Home

[2021-04-16 14:03] arunpoudel commented on #14
I can take it if you don't want to take it.

[2021-04-16 20:06] iMicknl commented on #14
@arunpoudel if you have time, go for it! My bandwidth is limited these weeks and there are quite some open issues on the Somfy integration to fix.

[2021-04-18 19:59] geert36 opened #19 "Unsupported model: F@ST F5359 / KPN Box 12"
I recently got the Sagemcom box F@ST F5359. It is the new modem distributed by KPN known as the Box 12.

I tried to get some more information with executing `$.xmo.getValuesTree("Device/DeviceInfo");` in the web console, this results in nothing.

Is it possible to support this device? Please let me know if you need more information.
I want to use it for presence detection in Home Assistant.

## Mo

[2021-04-21 13:05] BenHornerTech opened #15 "Device Tracking Inconsistent"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |2021.4.6|
| Integration version               |0.2.2|
| Sagemcom F@st model               |5364|
| Sagemcom F@st firmware (optional) |SG4K10002816t|

## Describe the bug

Presence keeps jumping from home to away and back again sporadically every few minutes

[2021-04-21 13:44] iMicknl commented on #15
Thanks for reporting, @BenHornerTech! Could you check if you have multiple entries for the same phone?

Are you using the WiFi network of the Sagemcom as well, or only the mesh network? I wonder if there are different entities for the ethernet and wifi connection, even though they share the same mac address.

[2021-04-22 09:14] BenHornerTech commented on #15
Looks like just single entries both on my Sagecom router GUI and via Home Assistant.  This is also true of my wife's phone, though they don't move between home and away at the same time.

I'm only using the mesh WiFi and have disabled the WiFi on my Sagecom router.  All my connections on the Sagecom show in the Wired connections section.

[2021-05-01 10:59] aleixsb opened #16 "Sagemcom F@st 5657"
Hey!

Thanks for creating this integration! Really helpful.

I have the Sagemcom F@st 5657 and it's working as well with your plugin so you can add this to the list!

Best regards,

[2021-05-01 10:59] aleixsb commented on #16
User: 1234
Password: 1234
Encryption: md5

[2021-05-01 20:07] iMicknl commented on #16
Thanks for reporting, I will add it to the list! Did you receive your router with any specific provider?
(and is user and password always set to 1234, or could you change it?)

[2021-05-01 21:32] aleixsb commented on #16
Hey!

This router is delivered by Masmovil and Pepephone is Spain.

1234:1234 is de default guest user with this model, at least for
Pepephone/Masmovil.
Admin user is set random for each device.

On Sat, May 1, 2021, 22:07 Mick Vleeshouwer ***@***.***>
wrote:

[2021-05-02 10:13] #16 closed

[2021-05-02 16:31] iMicknl commented on #15
@arunpoudel would you have any idea? I am not sure why this could happen.

[2021-05-02 20:44] iMicknl commented on #19
@geert36 I just published a new version (same URL as before). In your case, you should be able to select 'Uses an SSL certificate':

Please let me know if it works or if you have any errors in the log.

<img width="613" alt="Screen Shot 2021-05-02 at 22 44 16" src="https://user-images.githubusercontent.com/1424596/116827166-f98b4f00-ab97-11eb-9d1e-7be6adc93bca.png">

[2021-05-02 21:55] iMicknl commented on #6
@arunpoudel what are the first 6 numbers of your mac address? I wonder if all Sagemcom F@st devices share the same mac address vendor, or if they use multiple.

[2021-05-03 06:20] arunpoudel commented on #15
Some devices turn off wifi periodically for power saving, maybe that is the reason? But this is too frequent for that.

Another reason might be that the mesh setup, but I cannot be certain of that either.

Does your wife also have the same model of phone?

[2021-05-03 10:34] geert36 commented on #19
I deleted the integration and uploaded the new files. When adding the new integration, I get the following screen: ![2021_05_03_12_18_46_Window](https://user-images.githubusercontent.com/77209691/116866002-f4b3b300-ac0a-11eb-8ea2-a41241a26420.png)

So the integration is added and no more errors in the log file. Unfortunately no device is created or displayed in the device tab.
![2021_05_03_12_32_2

[2021-05-03 10:45] iMicknl commented on #19
I think you face the `MaximumSessionCount` again, but I accidentally changed the logging to something that is not supported in the current (non-dev) Home Assistant version yet... I added back the logging.

I wonder if this session will be killed after some time, thus that it could work after a day or so...

[2021-05-03 14:02] arunpoudel commented on #6
Mine starts with EC:BE:DD

[2021-05-03 15:57] geert36 commented on #19
Correct, the error is back in the logging:
![2021-05-03 17_51_44-Instellingen - Home Assistant](https://user-images.githubusercontent.com/77209691/116899793-4b83b180-ac38-11eb-951e-ad4933e00cb3.png)

I will wait for 24 hours and let you know if it starts working.
This is a well-known error for me, I saw this error regardly in the web UI of the KPN box.

[2021-05-03 18:10] geert36 commented on #19
Short after taking the screenshot of previous post, fetching of data succeeded:
`2021-05-03 16:13:29 DEBUG (MainThread) [custom_components.sagemcom_fast] Finished fetching sagemcom_hosts data in 0.570 seconds`
`2021-05-03 19:43:18 ERROR (MainThread) [custom_components.sagemcom_fast] Error fetching sagemcom_hosts data: Error communicating with API: list index out of range`
`2021-05-03 19:43:18 DEBU

[2021-05-03 18:22] iMicknl commented on #19
But does it work? :-). Did it create devices / entities?

[2021-05-03 18:47] geert36 commented on #19
Hmm no, unfortunately not. Still no devices /entities :( How can I help you to solve this?

[2021-05-05 16:50] geert36 commented on #6
First 6 numbers of my mac adress: 8C:C5:B4.

[2021-05-07 06:39] pippo73 opened #22 "Unable to find the integration"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |   2021.5.0    |
| Integration version               |   0.2.2    |
| Sagemcom F@st model               |   XGSR1644  (fibre x6)  |
| Sagemcom F@st firmware (optional) |   SGEk10001A05    |

## Describe the bug

I've installed the repository via HACS but I c

[2021-05-10 01:09] iMicknl commented on #22
Have you tried restarting HA, removing your browser cache and/or trying to access your instance in private mode?

I have seen this problem more often in HA, but this is not related to this integration unfortunately..

[2021-05-10 07:07] pippo73 commented on #22
Seems it was a chace problem. Now it works. thank you

[2021-05-10 07:07] #22 closed

[2021-05-20 11:11] BenHornerTech commented on #15
Yes, she also has an iPhone, though looking at various devices on the network and their presence (such as LIFX bulbs or Alexa) they too can drop in and out across the day.  Usually the drop outs are brief and show as being away for 30 seconds, which also matches my scan interval for the integration.

[2021-05-22 02:36] #11 closed

[2021-05-28 18:32] Allbruce opened #23 "Couldn't Log in"
Hi

Thx for the effort to make this integration!
I'm new into home assistant and I have troubles to make it work.

I tried different things but I still get errors.

Is it possible to give an example of the credentials of the integration?
![Foto 28-05-2021 om 20 26](https://user-images.githubusercontent.com/79608545/120027237-68bb5e00-bff3-11eb-8add-c8f9a6a94697.jpg)

Thx in advance!

[2021-05-28 18:38] iMicknl commented on #23
Which Sagemcom F@st router do you have? And how do you log in to the control panel?

In my example, I login to 192.168.11.1 and use a username and password provided by my ISP.

[2021-05-28 22:41] Allbruce commented on #23
Thx for your quick response!

It’s a sagemcom of Proximus but I don’t find the exact number…When I use the host of my modem, the username en password witch I use to login by the website, I get an unexpected error.

[2021-05-28 23:16] iMicknl commented on #23
Have you checked your log for any errors? An unexpected error should be visible in the log.

Please note that this integration only supports Sagemcom F@st routers.

[2021-05-29 06:35] Allbruce commented on #23
﻿Is there a way to see witch type sagemcom it is?

I got this in the log:

[cid:C202D256-5114-4519-9150-CC2BED13A2FA-L0-001]

Op 29 mei 2021 om 01:16 heeft Mick Vleeshouwer ***@***.***> het volgende geschreven:

﻿

Have you checked your log for any errors? An unexpected error should be visible in the log.

Please note that this integration only supports Sagemcom ***@***.*** routers.

—
You are rec

[2021-05-29 06:36] Allbruce commented on #23
Is there a way to see witch type sagemcom it is?

I got this in the log:

![89BCB690-52C9-4D6B-A219-7F3514A31FF2](https://user-images.githubusercontent.com/79608545/120060605-f2e9dd80-c058-11eb-8762-62d9dd36f6ce.jpeg)

[2021-05-29 12:04] iMicknl commented on #23
@Allbruce unfortunately, it seems that your device is not supported by this integration.

[2021-05-29 12:04] #23 closed

[2021-06-11 02:27] #6 closed

[2021-06-14 19:21] BenHornerTech commented on #15
I've had a thought that may provide a workable solution to the problem, as I am only looking at this tool to provide me with immediate notifications when certain devices join my network, such as guests arriving at my house.

Would it be possible to only set the entity to 'Away' if the Sagemcom device entry has not been seen in the last 2 or 3 polls rather than as soon as it's not seen?  This way,

[2021-06-23 02:07] #13 closed

[2021-06-26 09:16] cvjensen opened #24 "Is it possible to pull uptime information from the router to the home assistant ?"
I would very much like to get uptime information from the router into home assistant so that I can compare if there has been power outage - is this possible?

[2021-06-26 11:11] iMicknl commented on #24
What kind of information are you looking for? Does this describe what you are looking for: https://github.com/iMicknl/ha-sagemcom-fast/issues/7.

Currently I have limited time to work on this project, but I will leave your feature request open if someone wants to contribute.

[2021-06-26 12:44] cvjensen commented on #24
Yes that actually describes pretty well what I'm looking for . Has anyone tried to find a solution ?

[2021-07-20 02:15] #15 closed

[2021-08-30 09:16] djfanatix commented on #14
Hi, any update. I still have this issue with a BBOX3

thanks anyway!

[2021-08-30 11:11] iMicknl commented on #14
@djfanatix  could you give https://github.com/arunpoudel/ha-sagemcom-fast/archive/refs/heads/master.zip a try? Extract this file and place `custom_components/sagemcom_fast` in your `custom_components` folder.

[2021-08-30 11:26] djfanatix commented on #14
@iMicknl Thanks for the reply, but still the same after reloading or rebooting HA

[2021-09-04 05:31] djfanatix opened #25 "Device has no mac address"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version       2021.8.8     |       |
| Integration version               |       |
| Sagemcom F@st model      Bbox3         |       |
| Sagemcom F@st firmware (optional) |       |

## Describe the bug
Deze fout is ontstaan door een aangepaste integratie.

[code]
+

Deze fout is

[2021-09-04 07:29] djfanatix commented on #14
@iMicknl After testing for a few days, it notice that after a reboot, everybody stays on 'away', so that's also not good

[2021-09-18 18:51] copini commented on #19
The main issue with this device (besides the SSL requirement) is that querying `Device/DeviceInfo` yields an `XMO_UNKNOWN_PATH_ERR` error instead of device info. This custom component currently relies on that query (through `client.get_device_info()`) to work.

Querying individual values does work (as does `client.get_hosts()`), so it is possible to work around the problem by changing a few things

[2021-09-18 19:04] copini commented on #19
Another issue is related to the `XMO_MAX_SESSION_COUNT_ERR` error mentioned earlier. This device indeed seems to allow only one active session per user, and it has only one fixed (admin) user. There's no option to create extra accounts.

As this integration does not log out from the admin session, it can effectively lock you out from using the modem web interface because it's scanning every 10 sec

[2021-09-19 20:43] copini commented on #19
I created a very simplistic pull request that fixes the main issue. This does not solve the MaximumSessionCount issue, but it does make the device work in Home Assistant.

I got the MaximumSessionCount error on the first setup attempt, but devices started to show up a few minutes later. You can try it out in [my fork](https://github.com/copini/ha-sagemcom-fast) (merged it to `master` there so it's

[2021-09-20 12:03] parhedberg opened #27 "[Fast3890v3] Swedish Tele2 router - 'utf-8' codec can't decode byte"
Trying this component gives me error in logs:

[code]

Router: Fast3890v3
Router using software: FAST3890V3_WIFIHUBC2_sw18.76.10.10o-11

[2021-11-05 21:08] djfanatix commented on #14
Do you have an idea how to fix this issue? with the latest update everybody stays on away.
But in the logs it seems that the integration is polling the router successful.
When removing the plugin and reinstalling, the device list and presence is correct

[2021-11-13 19:05] Elox1991 opened #28 "[F@st5370e] XMO_UNKNOWN_PATH_ERR on Device/DeviceInfo"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |    core-2021.11.1 / supervisor-2021.10.8  |
| Integration version               |   v.0.2.2    |
| Sagemcom F@st model               |   F@st5370e    |
| Sagemcom F@st firmware (optional) |       |

## Describe the bug
Installed using HACCS, added Sagemcom

[2021-11-15 11:04] iMicknl commented on #28
It seems that logging in works, however retrieving the DeviceInfo is perhaps not supported on your device.

Do you have any Python knowledge?

[2021-11-18 20:40] peter6863 opened #29 "[Fast 5655v2] Config Flow fails on keyError: 'id'"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |   core-2021.11.1    |
| Integration version               |  latest available     |
| Sagemcom F@st model               |  5655v2     |
| Sagemcom F@st firmware (optional) |   HW ver 1.0; SW ver SG3G10000636; GUI ver 1.110.62;

## Describe the bug

This err

[2021-11-19 11:41] Elox1991 commented on #28
Unfortunately not..

[2021-11-19 11:41] Elox1991 commented on #28
Unfortunately not..

[2021-11-20 13:57] iMicknl commented on #29
Unfortunately I have not a lot of time lately to work on this integration and it is hard to debug issues when you don't have the hardware around. Do you perhaps have any Python / coding knowledge?

[2021-11-20 18:51] Patrit73 commented on #28
I have the same problem, Telia router, Sagemcom  f@st5370e…

[2021-11-30 19:26] rhpijnacker commented on #19
Any progress on this?
I just stumbled upon this and would love to connect my HA to my KPN Box v12.
If needed I would be happy to hack away on some code to get this to work.

[2021-12-01 22:24] iMicknl commented on #19
@rhpijnacker unfortunately I haven't had much time lately to work on this integration. I would be happy to release a new version, if someone has time to help out a bit.

[2021-12-05 09:35] rhpijnacker commented on #19
@iMicknl I send some PRs.
To make this work we will need to logout after every login/query.
With these change's I'm seeing devices and entities getting created, which is how far the current integration goes, right?
What would be the next step to get event notification on device changes?

[2022-01-01 20:01] Fugitive470 commented on #28
Hi Mick/iMicknl
Thanks for taking the time to work on this integration

If it helps, I have the exact same issue as Patrit73 above

(Swedish) Telia router, Sagemcom f@st5370e
Installation = Manual (Copy the custom_components/sagemcom_fast to your custom_components folder)
Python skills = zero :-(

LOG=
This error originated from a custom integration.

Logger: homeassistant.config_entries
Source: c

[2022-01-02 12:36] davidrustingha commented on #19
Hi guys, happy new year first of all!

I'd be happy to test the integration for the KPN box 12. I have it at home, and have tried to get it working by checking the pending pull requests, but I havent got it working yet.
Let me know if I can be of any help!

[2022-01-02 13:22] rhpijnacker commented on #19
@davidrustingha Happy new year to you too.
What is going wrong? For me it works, so I'm curious to why it does not work for you.

[2022-01-02 14:16] davidrustingha commented on #19
@rhpijnacker well I tried installing the current version on this repo, that gives me the 'Failed to connect, please try again' error.

I've installed the update mentioned here, it loads properly, but then I get the 'Maximum session count reached' error. It does not create entities also.

When I rebooted after adding a debug log output I got this error:

[code]
After a disable/enable and reboot I g

[2022-01-02 14:24] davidrustingha commented on #19
I have also tried to setup @copini's version, but when I fill out my information during setup it exits with the session count error before it sets up

[2022-01-02 15:26] rhpijnacker commented on #19
So, what you'll need is:
* [Add SSL support #18](https://github.com/iMicknl/ha-sagemcom-fast/pull/18)
* [Log out of Sagemcom client after every query #30](https://github.com/iMicknl/ha-sagemcom-fast/pull/30)
but also
* [Add logout API method #107](https://github.com/iMicknl/python-sagemcom-api/pull/107)
* [Implement get_device_info for F5359 used by KPN Box 12 #108](https://github.com/iMicknl/pyth

[2022-01-02 17:06] davidrustingha commented on #19
As I understood it the merge branch had all the PR's, right? After adding that it gives me this error

This error originated from a custom integration.

[code]

[2022-01-02 17:48] rhpijnacker commented on #19
Looks like you're missing [https://github.com/iMicknl/python-sagemcom-api/pull/107](https://github.com/iMicknl/python-sagemcom-api/pull/107). Are you sure you are using the latest sagemcom-api library from git? (Not the one from PyPI.)

[2022-01-02 19:23] davidrustingha commented on #19
I checked and I have version 1.0.5 installed, that should be the most recent version according to the github repo https://github.com/iMicknl/python-sagemcom-api

[2022-01-03 09:08] rhpijnacker commented on #19
Version 1.0.5 indeed does not contain the `logout` function.
If you take the latest from master, it should, as [this commit](https://github.com/iMicknl/python-sagemcom-api/commit/bcb44e0afbec1459c6c3833b120ddb3bc617e6af) added that function.

If you still get the error that "object has no attribute 'logout'", then it isn't picking up the updated version of client.py.

[2022-01-03 09:33] davidrustingha commented on #19
Im pretty sure I have. Installed it with `pip install git+https://github.com/iMicknl/python-sagemcom-api`

It either gives me the session count error or the logout error. I can't get past the initial set up.

[2022-01-03 10:08] iMicknl commented on #19
@rhpijnacker 1.06 is published. However, you should be able to link to a specific branch as well in the manifest.json. See https://developers.home-assistant.io/docs/creating_integration_manifest/ for the correct notation.

[2022-01-03 10:48] rhpijnacker commented on #19
Oh cool. I'm new to all this (Home Assistant, python, pip, etc.) so good to know how to handle dependencies.
Thanks.

[2022-01-04 10:28] papapingouin-be opened #31 "Sagemcom F@st 3865b don't login"
Hello i try  Sagemcom F@st 3865b | Proximus (b-box3) | md5,
and I have this message : Unexpected error

Debug info:
2022-01-04 11:19:26 ERROR (MainThread) [custom_components.sagemcom_fast.config_flow] <html>
<head><title>404 Not Found</title></head>
<body bgcolor="white">
<center><h1>404 Not Found</h1></center>
<hr><center>nginx</center>
</body>
</html>
Traceback (most recent call last):
File "/co

[2022-01-13 22:48] done7k opened #32 "Sagecom F@st 3890V3 - {'code': 16777224, 'description': 'XMO_LOGIN_RETRY_ERR'}"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |    2021.12.5   |
| Integration version               |   "0.2.1"    |
| Sagemcom F@st model               |   3890V3    |
| Sagemcom F@st firmware (optional) |   FAST3890V3_MAGYAR_sw18.76.10.13c-1    |
|GUI ver              | 5.14.0 |

## Describe the bug

[2022-01-13 22:51] iMicknl commented on #32
Thanks for reporting! Currently I don't have much time to spend on this, due to other projects, however it is good to track this here.

Looking at the error, are you sure you typed it correctly? It should be `pip install sagemcom_api`.

[2022-01-13 22:59] done7k commented on #32
OMG... right! sagemcom_api.. got it.. will try to python it.. any short code example to start?

[2022-01-14 23:40] done7k commented on #32
Managed to connect to my routed with sha512 hash only from a python script. With md5 it gives the error 'XMO_LOGIN_RETRY_ERR'. Deleted integration and added it again with sha512 hash. Now it is ok!  Not sure how it added with md5 before..
I noticed the  integration does not create any sensor for router but device_trackers for hosts only. Perhaps this is for 'feature request' but would be good to e

[2022-01-15 23:17] done7k opened #33 "Dublicate entities created"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |    2021.12.5   |
| Integration version               |   "0.2.1"    |
| Sagemcom F@st model               |   3890V3    |
| Sagemcom F@st firmware (optional) |   FAST3890V3_MAGYAR_sw18.76.10.13c-1    |
|GUI ver              | 5.14.0 |

## Describe the bug
I

[2022-01-18 20:52] ShanMKhan opened #34 "No Sagemcom in Integrations"
I added the integration using HACS but can't find Sagemcom under Configuration -> Integrations -> Add Integration after the reboot.

[2022-01-18 20:58] iMicknl commented on #34
Did you try to remove your cache? Most of the time this is not related to this integration.

[2022-01-18 21:03] ShanMKhan commented on #34
Thanks, worked!

[2022-01-18 21:05] #34 closed

[2022-01-29 16:41] iMicknl commented on #32
@done7k can I close this issue, and could you perhaps create a new one for your future request? (if there is no other open).

Currently I am not spending much time on this integration, however this would be more visible for other potential contributors.

[2022-01-29 16:41] #32 closed

[2022-01-30 14:12] geert36 commented on #19
Thanks for the latest update @iMicknl !
I removed everything and did a clean install. Now I've got this error:
![image](https://user-images.githubusercontent.com/77209691/151703231-a385e977-88b5-4e96-85d1-e0af5f4b969b.png)
![image](https://user-images.githubusercontent.com/77209691/151703263-d693c539-a624-40eb-8346-faa0cb0c0712.png)

[2022-01-30 15:37] djfanatix commented on #14
I just checked with the latest version, but still the same.
New entitities are also not created.

[2022-01-30 17:26] iMicknl commented on #14
If it would have been fixed, it would have been mentioned in the changelog and this issue would have been closed. 😉

However, I just released a small maintenance update where all dependencies where updated, nothing more. I don't have time to work on this integration at the moment, thus others would need to tackle this..

[2022-01-30 18:00] iMicknl commented on #31
I don't think that your device is supported unfortunately, if you see a 404 error. This means that the API we use is just not there.

[2022-01-30 18:03] iMicknl commented on #19
Are you sure that is the right URL and port? It seems it can not connect.

@rhpijnacker could perhaps help. I updated the underlying API a bit, so that new changes can be merged faster :-). Apologies for the delays.

[2022-01-30 20:11] geert36 commented on #19
Yes still using the same URL and port. When using [the merge](https://github.com/rhpijnacker/ha-sagemcom-fast/tree/merge) of @rhpijnacker and changing sagemcom api to 1.0.6, it is still working.

[2022-02-01 19:56] rhpijnacker commented on #19
@geert36 Looks like @iMicknl did not yet merge [my changes](https://github.com/iMicknl/ha-sagemcom-fast/pull/30), or the  [SSL support changes](https://github.com/iMicknl/ha-sagemcom-fast/pull/18).
So, basically, master is not yet ready for using on a KPN Box 12.

[2022-02-06 18:52] #19 closed

[2022-02-08 10:19] djfanatix opened #36 "[Proximus B-box] Config Flow fails on keyError: 'id'"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version       |  latest
| Integration version              | latest 1.2.5
| Sagemcom F@st model       |        bbox proximus
| Sagemcom F@st firmware (optional) |       |

## Describe the bug
Integration crashes on startup, see logfile below

## Screenshots

'id'
Traceback (mos

[2022-02-08 10:28] #31 closed

[2022-02-20 20:15] raolss opened #38 "Missing MAC address?"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |   2022.2.9    |
| Integration version               |   0.25    |
| Sagemcom F@st model               |       |
| Sagemcom F@st firmware (optional) |   FAST3890V3_WIFIHUBC2_sw18.76.10.10o-17    |

## Describe the bug

Integration not configured

## To Repro

[2022-02-27 10:40] tamueller opened #39 "Can't find integration in HACS"
I'm not able to install this integration via HACS, as I can't find it in the list there. Has this been "removed" from the HACS filter, or am I doing something wrong?

![image](https://user-images.githubusercontent.com/1902960/155879061-a62a7d18-cc5a-4c0c-840e-45040117521a.png)

[2022-02-27 14:37] iMicknl commented on #39
It has never been added to the official HACS repository. You first need to add this repository, [as documented in the README](https://github.com/iMicknl/ha-sagemcom-fast#hacs).

[2022-02-27 14:37] #39 closed

[2022-02-27 15:02] tamueller commented on #39
Ok, thanks for clarifying. I already read the README, but got confused by HACS and hat "adding integration" and "adding a repository" means. Would it be possible to change the readme from

"Add this repository to HACS," to
"Add this repository as a custom repository to HACS as described here (https://hacs.xyz/docs/faq/custom_repositories), "

In order to prevent newbies like me to get confused?

[2022-02-27 15:16] iMicknl commented on #39
We can change that in the future, or you can do a pull request to make the change.

Thanks for your suggestion.

[2022-02-28 10:27] tamueller opened #41 "Can't connect to Telekom Speedport Pro - no username?"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |  2022.2.9     |
| Integration version               |     0.2.5  |
| Sagemcom F@st model               |    Telekom Speedport Pro   |
| Sagemcom F@st firmware (optional) |       |

## Describe the bug

I cannot setup the integration with my Telekom Speedpor

[2022-02-28 10:28] #41 closed

[2022-02-28 10:30] tamueller commented on #41
Ah, I just found the post from M4D1NG3R here: https://community.home-assistant.io/t/sagemcom-router-support/179880/68 which probably answers my question. I'll have a look at that first.

[2022-02-28 20:14] M4D1NG3R commented on #38
This bug should be fixed with release 0.2.6

[2022-02-28 21:28] #38 closed

[2022-03-17 13:14] iMicknl commented on #36
Have you ever been able to set up this integration? Since this is not an issue on start-up, but while trying to set up in your config flow. (Which probably says 'Unknown error').

[2022-03-17 13:15] iMicknl commented on #33
Thanks for reporting, @done7k! I am not sure what happened here, but for sure, the code could be improved.

For now, I would advise to remove the config entry and than create a new config entry. Did you have an error in your log, because you had to reload the integration?

[2022-03-17 13:16] iMicknl commented on #28
Could some of you try with 0.2.6? I wonder if this fixes your errors.

[2022-03-17 13:18] iMicknl commented on #27
@parhedberg sorry for the late reply. Are you still interested in this integration?

I wonder if you have any Swedish characters in the JSON that conflict with the UTF-8 we expect.

[2022-03-17 13:19] #25 closed

[2022-03-17 13:19] iMicknl commented on #25
Let's first tackle your most recent issue.

[2022-03-17 13:52] iMicknl commented on #24
Tracked with #7

[2022-03-17 13:52] #24 closed

[2022-03-18 13:53] done7k commented on #33
@iMicknl , you probably can close this issue. I have clarified this some time ago and did not make any update here. the root cause is some of my devices had no static IP address set. in this case the router reports the same device name twice or ever three times.. That is it.

[2022-03-18 13:55] iMicknl commented on #33
@done7k however the mac address should be the same. I will double check if the macaddress is set as the unique identifier!

Thanks for checking! I will close this for now, but feel free to create a new one / reopen if you face it again.

[2022-03-18 13:55] #33 closed

[2022-03-18 13:58] iMicknl commented on #19
@rhpijnacker I will probably remove the log out after every request as the default option, but move it to the options flow. I believe it worked in your case, but you weren't able to open the normal router interface at the same time?

It is way more resource friendly to keep the session open, and in my case, the current logout() way does even break the integration. Apparently my model doesn't like

[2022-03-19 08:07] rhpijnacker commented on #19
@iMicknl If it causes problems for other integrations, then it makes a lot of sense to make this optional.
You are correct that the KPN Box v12 devices allow only one active login session at any time.

If you want me to test out your changes, then feel free to let me know.

[2022-03-23 19:28] Elox1991 commented on #28
Tried it, does not work.
[code]

[2022-04-01 11:06] barrymossel opened #45 "Implements device_state_attributes. Please report it to the custom component author."
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            | latest      |
| Integration version               | latest      |

## Describe the bug

I get this is my HA logs:

Entity device_tracker.shelly_badkamer (<class 'custom_components.sagemcom_fast.device_tracker.SagemcomScannerEntity'>) implements device_state

[2022-04-07 00:02] keesfluitman opened #46 "Sagemcom F@st 5688ax (10gbit version) Used By Sunrise (CH)"
Succesfully connected.
username: admin
password: I used the default, that was still set from fresh install (written on the Sagemcom itself)

I believe it was with standard encryption. md5

[2022-04-14 20:42] snawfel1983 opened #47 "SAGEMCOM 5566 VPI / VCI edit"
Hi
I am looking to change the vpi/vci of the 5566 (bell HH3000) from 0/35 to 0/38 to be able to make it work with a different ADSL provider

Is this something that can be done ?

[2022-04-14 20:56] iMicknl commented on #47
Sorry I have no clue what you ask. What do you want to achieve in Home Assistant?

[2022-04-14 20:59] snawfel1983 commented on #47
There is a setting in ADSL which is VPI = 0 and VCI = 35 pre-configured in BELL home hub 3000.

I would like to know is there a way to access config file or upload a custom firmware where i change the VCI to 38 value

Thank you

[2022-04-15 07:44] iMicknl commented on #47
@snawfel1983 that would be out of scope for this Home Assistant integration unfortunately…

and unfortunate, I wouldn’t know where else to ask this…

[2022-04-15 07:44] #47 closed

[2022-04-18 17:27] scalmaa opened #48 "Bbox F@st5688b seems not working"
Hi.

I'm trying to connect to my bBox SagemCom F@st5688B. I'm using HA OS ans HACS module integration.

When I'm trying to connect with the user = admin and (my_password) with MD5 or SHA512 the connection is refused.

I don't known if it shoud be working ?

Thanks for your response

[2022-04-18 17:40] M4D1NG3R commented on #48
Hey scalmaa,
Without a log, it would be pretty difficult for us to help you, so it would be an advantage if you could provide one.

[2022-04-18 17:41] scalmaa commented on #48
Where can I find the logs. I'm looking for it but don't find it. Thanks for your help

[2022-04-18 17:42] scalmaa commented on #48
I found nothing in the HA OS log.

[2022-04-18 17:43] scalmaa commented on #48
I found this, I could be close to the problem, I don't know

Logger: asyncio
Source: /usr/local/lib/python3.9/asyncio/selector_events.py:911
First occurred: 19:37:29 (1 occurrences)
Last logged: 19:37:29

socket.send() raised exception.

[2022-04-18 17:58] M4D1NG3R commented on #48
I'm sorry, but I can't really pinpoint the problem with that.

Do you know the basics of python?

If so, you could get a more detailed log with the quickstart script of the [sagemcom_api](https://github.com/iMicknl/python-sagemcom-api).

[2022-04-18 18:07] scalmaa commented on #48
A little bit. Do I need to install the sagemcom_api manually ?
I installed the integration by HACS
Thanks

[2022-04-19 10:49] M4D1NG3R commented on #48
One thing I forgot: Did you...

**Enable debug logging**
The [logger](https://www.home-assistant.io/integrations/logger/) integration lets you define the level of logging activities in Home Assistant. Turning on debug mode will show more information to help us understand your issues.

[code]

[2022-07-30 22:38] janmolemans commented on #36
Did you fill in the correct username (which is "User")?

[2022-09-05 16:36] dave-walschot opened #49 "consider_home setting or equivalent?"
Hello,

Great work and thanks alot for sharing this integration. I got my Sagemcom F5359 (KPN Netherlands) initial device tracking running in no time.

Now the finetuning part. I would like to track how long my galaxy phone is at home each day. As you can see below the device is flicking state although it is at home.
![Image 160](https://user-images.githubusercontent.com/5054579/188489130-abb29616

[2022-10-31 15:15] roelvdgun opened #50 "detected integration that uses deprecated 'async_get_registry'"
## Versions

| Key                               | Value |
|-----------------------------------|-------|
| Home Assistant version            |2022.10.5       |
| Integration version               | V0.2.6      |
| Sagemcom F@st model               |F5359 (KPN V12)       |
| Sagemcom F@st firmware (optional) |       |

## Describe the bug
Home assistant logger gives notification since 2022.10:

Det

[2022-11-06 02:57] daveb121 opened #51 "Compatibility for Fast 5866T"
I would love it if you could add compatibility for a Fast 5866T, provider is TPG in Australia. I've tried all options, here is the error I receive.

This error originated from a custom integration.

Logger: custom_components.sagemcom_fast.config_flow
Source: custom_components/sagemcom_fast/config_flow.py:69
Integration: Sagemcom F@st (documentation, issues)
First occurred: 11:59:33 (9 occurrences)

[2022-11-27 08:22] southsideringo opened #52 "Sagemcom 5668w TMobile"
Hi. I've managed to hunt down a bunch of api endpoints for this router.  But I'm still missing important things. Such as how to put it in bridge mode. So I'm most of the way ther I believe.

It has the 192.168.12.1 gateway and then if I send curl or other REST api requests at like http://192.168.12.1/TMI/v1/network/configuration/get-ap -- I get back a pretty big json message thats easy to parse. I